<div>

  <link rel = "stylesheet" href = "/assets/css/menu.css">

  <ul class="mx-auto">

    <a href="/server/services"><button type="button" class="btn btn-light">Управление службами</button></a><br/>
    <br/><a href="/server/configurations"><button type="button" class="btn btn-light">Управление шаблонами конфигурации</button></a><br/>
    <br/><a href="/manager/html"><button type="button" class="btn btn-light">Tomcat</button></a><br/>
    <br/><a href="/"><button type="button" class="btn btn-light">Назад</button></a><br/>

  </ul>

</div>
