.example-icon {
  padding: 0 15px;
}
.example-spacer {
  flex: 1 1 auto;
}
.toolbar {
  display: flex;
  align-items: center;

  &.button {
  margin-left: 10px;
    &:first-child {
      margin-left: 0px;
     }
   }
}
.no-select {
  cursor: pointer;
  user-select: none;
}
