<ul class="vertical ex">
  <li><a color="primary" routerLink="users">Учетные записи</a></li>
  <li><a color="primary" routerLink="aliases">Аккаунты</a></li>
  <li><a color="primary" routerLink="workers">Пользователи</a></li>
  <li><a color="primary" routerLink="gencfg">Сгенерировать конфиг</a></li>
  <li><a color="primary" routerLink="monitor">Сканировать сеть</a></li>
  <li><a color="primary" href="http://sip.int.ptkom.ru:8080/manager/html">Управление сервером</a></li>
  <li><a color="primary" routerLink="about">О программе</a></li>
</ul>

